.slider_small3_shape {
    position: absolute;
    right: -125px;
    bottom: -27px;
    z-index: 1;
    -webkit-animation: moveleftbounce 3.0s linear infinite;
    animation: moveleftbounce 3.0s linear infinite;
}

.select_box .nice-select {
    width: 100%;
    height: 50px;
    color: #555;
    font-size: 16px;
    padding-left: 40px;
    text-transform: capitalize;
    line-height: 50px;
    border-radius: 0;
    position: relative;
    border: 0;
    border-right: 1px solid #e2e2e2;
    margin: 5px 0;
    background: transparent;
    font-style: normal;
}
.select_box .nice-select .current {
    left: 30px;
}
.select_box .nice-select .current {
    position: absolute;
    left: 45px;
    color: #797979;
}
.index3_form_box {
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    float: left;
    width: 100%;
}
.index3_form_wrapper {
    padding: 60px 0;
    position: relative;
    width: 100%;
    float: left;
}

.select_box {
    position: relative;
    float: left;
    width: 22%;
    margin-left: 0;
}
.select_box .nice-select.open .list {
    width: 100%;
}

.contct_form_new3 {
    float: left;
    width: 25%;
    position: relative;
}
.contct_form_new3 input {
    width: 100%;
    height: 50px;
    padding-left: 24px;
    color: #555;
    border-radius: 0;
    background: #fff;
    line-height: 50px;
    font-size: 16px;
    transition: all 0.5s;
    font-style: normal;
    border: 0;
    margin-bottom: 0;
    margin-top: 5px;
}
.index3_form_search {
    float: left;
    width: 9%;
    background: rgb(9 23 59) 25%;
    background: -moz-linear-gradient(90deg, rgb(9 23 59) 25% 25%, rgb(109, 104, 254) 100%);
    background: -webkit-linear-gradient(
90deg, rgb(9 23 59) 25% 25%, rgb(109, 104, 254) 100%);
    background: linear-gradient(
90deg, rgb(9 23 59) 25% 25%, rgb(109, 104, 254) 100%);
    border-radius: 100px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.index3_form_search a i {
    color: #fff;
    font-size: 18px;
}
.select_box .nice-select:after {
    border-bottom: 2px solid #8b90a1;
    border-right: 2px solid #8b90a1;
    content: '';
    display: block;
    height: 8px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 50%;
    width: 8px;
}